:root {
--bgc: rgb(225, 217, 209);
--primary: #adebb3;
--accent: #bec0c2;
--text: rgb(47, 47, 49);
}


body {
height: fit-content;
margin: 0;
display: flex;
justify-content: center;
padding: 20px;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('bg1.jpg');
background-position: center;
background-repeat: no-repeat;
}

.kosugi-maru-regular {
font-family: "Kosugi Maru", sans-serif;
font-weight: 400;
}

.card-container {
display: flex;
justify-content: center;
gap: 20px;
padding: 0px;
margin: 0;
flex-wrap: wrap;
box-sizing: border-box;
}

.card {
background-color: rgba(255, 255, 255, 0.05);
border-radius: 10px;
overflow: hidden;
width: 200px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
text-align: center;
padding: 10px;
margin: 5px;
box-sizing: border-box;
}

.card h3 {
font-family: "Kosugi Maru", sans-serif;
}

.card img {
text-align: center;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
object-fit: cover;
object-position: center;
}

table {
width: 35%;
height: 80vh;
margin-top: 2%;
border-collapse: separate;
border-spacing: 8px;
border-radius: 12px;
border: none;
table-layout: fixed;
}

td {
font-family: pre;
border: none;
border: 1px solid #ccc;
vertical-align: top;
overflow: hidden;
}

.left-cell {
border-radius: 12px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
background-color: rgba(47, 47, 49, 0.4);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px); 
border: none;
box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}



.img-wrapper {
width: 100%;
height: 300px;
overflow: hidden;
position: relative;
border-radius: 12px; 
}

.img-wrapper img {
width: 100%;
object-fit: cover;
position: relative;
top: -100px;           
}

.left-cell-text {
padding-left: 10px;
color: var(--bgc);
}

.txtcolor {
color: var(--bgc);
}

.center {
    margin-top: 5%;
    text-align: center;
}

.left-cell-text-v2 {
    padding-left: 30px;
}

.button-switch {
justify-content: center;
}

.color {
color: var(--bgc);
}

button {
width: 125px;
height: 40px;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
background-color: rgba(255, 255, 255, 0.01);
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
border-radius: 10px;
color: var(--bgc);
}

.buttontxt {
color: var(--bgc);
font-size: 22px;
font-family: "Kosugi Maru", sans-serif;
font-weight: 600;
}

button:hover {
box-shadow: 0 1px 4px rgba(92, 26, 62, 0.5);
background-color: rgba(141, 36, 94, 0.25);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px); 
}

.disabled-button {
box-shadow: 0 1px 4px rgba(92, 26, 62, 0.5);
background-color: rgba(141, 36, 94, 0.25);
pointer-events: none;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
margin-bottom: 10px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgba(141, 36, 94, 0.25);
}

input:focus + .slider {
box-shadow: 0 0 1px rgba(141, 36, 94, 0.25);
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}


.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.card-v2{
background-color: rgba(255, 255, 255, 0.05);
border-radius: 10px;
overflow: hidden;
width: 270px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
text-align: center;
padding: 10px;
margin: 5px;
box-sizing: border-box;
}

.circle {
height: 150px;
width: 150px;
background-color: #555;
border-radius: 50%;
display: inline-block;
margin: 50px;
}

.notcircle {
height: 150px;
width: 150px;
background-color: yellow;
box-shadow: 0px 0px 20px yellow;
border-radius: 50%;
display: inline-block;
margin: 50px;
}

